Test_files/bibExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bibliography" type="bibType"/>	
	<xs:complexType name="Journals">
				<xs:sequence>
					<xs:element type="xs:string" name="title"/>
					<xs:element type="xs:string" name="authors"/>
					<xs:element type="xs:decimal" name="pubYear"/>
					<xs:element type="xs:string" name="publisher"/>
					<xs:element type="xs:string" name="doi"/>
					<xs:element type="xs:string" name="date"/>
					<xs:element type="xs:string" name="journal"/>
					<xs:element type="xs:decimal" name="volume"/>
					<xs:element type="xs:decimal" name="issue"/>
				</xs:sequence>
					<xs:attribute name="category" use="required">
						<xs:simpleType>
							<xs:restriction base = "xs:string">
								<xs:enumeration value = "journalRefs"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="Conferences">
				<xs:sequence>
					<xs:element type="xs:string" name="title"/>
					<xs:element type="xs:string" name="authors"/>
					<xs:element type="xs:decimal" name="pubYear"/>
					<xs:element type="xs:string" name="publisher"/>
					<xs:element type="xs:string" name="doi"/>
					<xs:element type="xs:string" name="date"/>
					<xs:element type="xs:string" name="venue"/>
					<xs:element type="xs:string" name="location"/>
				</xs:sequence>
				<xs:attribute name="category" use="required">
						<xs:simpleType>
							<xs:restriction base = "xs:string">
								<xs:enumeration value = "conferenceRefs"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
	</xs:complexType>
	
		<xs:complexType name="Books">
				<xs:sequence>
					<xs:element type="xs:string" name="title"/>
					<xs:element type="xs:string" name="authors"/>
					<xs:element type="xs:decimal" name="pubYear"/>
					<xs:element type="xs:string" name="publisher"/>
					<xs:element type="xs:string" name="doi"/>
					<xs:element type="xs:string" name="date"/>
					<xs:element type="xs:string" name="book"/>
					<xs:element type="xs:string" name="editor"/>
				</xs:sequence>
				<xs:attribute name="category" use="required">
						<xs:simpleType>
							<xs:restriction base = "xs:string">
								<xs:enumeration value = "bookRefs"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
	</xs:complexType>
	
    <xs:complexType name="refType">
        <xs:sequence>
			<xs:element type="Journals" name="refJournal" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="Conferences" name="refConference" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="Books" name="refBook" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="bibType">
		<xs:sequence>
			<xs:element type="refType" name="baseRef" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>